unstructured
pdfminer.six
pdf2image
unstructured_inference
pytesseract
unstructured_pytesseract
langchain
openai
fastapi
uvicorn
psycopg2-binary
pgvector
orjson
async-timeout
langsmith
langchain-core
langchain-text-splitters
langchain
langchain_community
langchain-postgres
langchain_openai
