unstructured
pdfminer.six
pdf2image
unstructured_inference
pytesseract
unstructured_pytesseract
langchain
langchain-core
langchain-text-splitters
langchain_community
langchain-postgres
langchain_openai
langchain-cohere
openai
fastapi
uvicorn
psycopg2-binary
pgvector
orjson
async-timeout
langsmith
rank_bm25
python-dotenv
